body{
    padding-top: 1%;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: orangered;
}
#box{
    position: relative;
    text-align: center;
    display: inline-block;
    background-color: orangered;
    border-radius: 25px;
    width: 25%;
    min-width: 300px;
}
.li{
    border-top: 3px solid white;
    color: white;
    font-family: sans-serif;
}
#title{
    color: white;
}
#sodexo{
    max-height: 100%;
    max-width: 100%;
}